# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
SkyLands/target/
SkyLands/src/main/bin/
SkyLands/src/main/obj/


# mstest test results
TestResults

# Files to ignore here
*.suo
*.log
*.user