# Resource locations to be added to the default path
[General]
FileSystem=../../Media
FileSystem=../../Media/materials/scripts
FileSystem=../../Media/materials/textures
FileSystem=../../Media/models
Zip=../../Media/packs/Sinbad.zip
