body {
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}
#containor {
	position: relative;
	top: -8px;
	left: -8px;
}

.slot {
	position: fixed;
	top:  92px;
	left: 8px;
	width: 16px;
	height: 16px;
	font-size: 0.3em;
}
.item {
	position: absolute;
}

.num {
	color: white;
	position: absolute;
	top: 10;
	left: 13;
}
#BuildingsSelector {
	position: absolute;
	top: 15px;
	left: 120px;
	height: 10px;
	background-color: #c6c6c6;
	font-size: 0.3em;
}

#BuildingsSelector option:hover {
	background-color: #010E16;
}