body {
	overflow: hidden;
	background-image : url("../images/Load_scenario_normal.png");
	background-size: cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: whitesmoke;
}

#Scenarios {

}
